# Jupyter notebooks
*.ipynb

# Python
*.pyc
__pycache__/
*.py[cod]

# External packages
lime_pkg/

# Data files
data/
*.csv
*.zip

# Results and output
results/
src/train/runs/

# Environment and editor
.vscode/
*DS_Store

# Configuration files
configs/


# Scripts
*.sh
sbatch
run_analysis.py

# Other
pretrained_models/
notebooks/graphics/